* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	line-height: 150%;
	font-family: 'Montserrat', sans-serif;
}

table, tr, th, td{
	padding: 0;
	margin: 0;
}

ul,li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.container {
	max-width: 1110px;
	margin: 0 auto;
	padding: 0;
	display: flex;
	flex-direction: column;
}

.header {
	background:url("img/header/bcg.jpg"), linear-gradient( to bottom, #282828, #28282800);
	background-size: cover;
	background-position: center 35%;
	height: 100vh;
}

.up__content {
	display: flex;
	justify-content: space-between;
	padding-top: 30px;
	
}

.up__content p {
	font-size: 13px;
	font-weight: 500;
	line-height: 150%;
	color: #FFFFFF;
}



.menu {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	align-content: stretch;
}


.menu__list {
	border: 1px solid #FFFFFF;	
	padding: 18px 10vh;
	display: flex;
	width: 100%;
}

.menu__list:nth-child(1) {
	border-left: none;
}


.menu__list:nth-child(4) {
	border-right: none;
}


.menu__link{
	display: inline-block;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 400;
	line-height: 150%;
	color: #FFFFFF;
}


.firstscreen {
	padding-top: 59.4vh;
	display: flex;
	justify-content: center;
}

.btns {
	position: absolute;
	margin-top: -120px;
	
}

.btn {
	margin-right: 30px;
	padding: 15px 40px;
	background-color: #99862A;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 0.8px;
}

/* ------------ MAIN_TEXT ---------------------*/

.main-text {
	background-color: #282828;
	padding: 100px 0;
}

.main__box {
	border: 3px solid #C4C4C4;
	align-content: center;
	text-align: center;
	flex-direction: column;
	padding: 60px 195px;
}

.main-text {
	align-items: center;
	text-align: center;
}

.main__line::after{
	content: '';
	display: inline-block;
	border-bottom: 1px solid #fff;
	width: 160px;

}

.main__title {
	color: #fff;
	font-family: Playfair Display;
	font-size: 36px;
	font-weight: 700;
	line-height: 150%;
	padding-bottom: 40px;
}

.box__text {
	padding-top: 40px;
	padding-bottom: 50px;
	
	
	color:#fff;
	font-size: 16px;
	font-weight: 400;
	line-height: 150%;
}

/* --------------- COLLECTION ---------------------*/

.collection {
	background-color: #E6E3C4;
	padding: 80px 0px;
}

.collection__line {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	margin-bottom: 20px;
}
.images {
	max-width: 100%;
	display: flex;
	flex-direction: column;
	padding: 10px 0px;
}

.images__smal {
	display: flex;
	justify-content: space-between;
	padding-top: 30px;
}



.sup-title {
	max-width: 347px;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 30px;
}

.col__title {
	font-size: 36px;
	font-weight: 700;
	max-width: 303px;
	line-height: 150%;
	margin-bottom: 30px;
	font-family: 'Playfair Display', serif;
}


.col__line:after{
	content: '';
	border-bottom: 1px solid #282828;
	width: 160px;
	display: inline-block;
	margin-bottom: 30px;
}

.collection__line {
	border-top: 1px solid #99862A;
	border-bottom: 1px solid #99862A;
	padding: 60px 0;
}
.collect__text {
	max-width: 445px;
	font-size: 14px;
	font-weight: 400;
}

table {
	border-collapse: collapse;
	margin-top: 30px;
	margin-bottom: 30px;
}

 th, td {
	border: 1px solid #282828;
}



.box-text-first {
	border-right: none;
	border-top: none;
}

.box-text-second {
	border-right: none;
}

.box-text-third {
	border-right: none;
	border-bottom: none;
}

.title-first {
	border-left: none;
	border-top: none;
}


.title-second {
	border-left: none;
}

.title-third {
	border-left: none;
	border-bottom: none;
}


th {
	padding: 30px 25px;
	font-size: 14px;
	font-weight: 400;
}

td {
	padding-left: 20px;
	width: 100%;
}

table, p {
	font-size: 14px;
	font-weight: 400;
}

.upper {
	font-size: 18px;
	font: 700px;
}

.collect-btn {
	background-color: #99862A;
	color: #fff;
	padding: 15px 30px;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	margin-top: 30px;
	display: inline-block;
}

/* ---------------- FORM ---------------------*/

.form {
	background-color: #282828;
	padding-top: 100px;
	padding-bottom: 100px;
	
}



.form__box {
	color: #fff;
	border: 3px solid #C4C4C4;;
	text-align: center;
	align-items: center;	
	padding: 0px 250px;
	text-align: center;

}



.form__title {
	align-items: center;
	text-align: center;
	color: #fff;
}



.form__text {
	padding-bottom: 80px;
	font-size: 16px;
	font-weight: 400;
	max-width: 565px;
}



.up__form {
	display: flex;
}

.form__line {
	width: 100%;
	padding-right: 30px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
	color: #fff;
	font-size: 13px;
	font-weight: 500;
}

.form__line, input[type="text"] {
	padding-bottom: 10px;
	color: #fff;
}

.form__line, input::placeholder {
	color: #fff;
}



.form__line:nth-child(1) {
	margin-right: 30px;
}

.form-btn {
	display: inline-block;
	border: 1px solid #fff;
	text-align: center;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.8px;
	text-transform: uppercase;
	width: 100%;
	color: #fff;
	padding: 15px 0;
	margin-bottom: 80px;
}


.form__images {
	position: relative;
	display: flex;
	justify-content: space-between;
}



.img-first {
	position: absolute;
	max-width: 100%;
	right: 78%;
	top: -15%;
}

.img-second {
	position: absolute;
	max-width: 100%;
	left: 80%;
	top: -10%;
}



.form__underline {
	display: inline-block;
	padding-top: 40px;
	padding-bottom: 40px;
}


.form__underline::after{
	content: '';
	display: inline-block;
	height: 1px;
	width: 118px;
	border-bottom: 1px solid #C4C4C4;
}

.form-btn {
	margin-top: 80px;
}

.up__form {
	padding-bottom: 40px;
}

.container--form {
	position: relative;
}


.form__title {
	position: absolute;
	top: -3%;
	background-color: #282828;
	margin-left: 50px;
	padding: 0 42px;
	font-size: 36px;
	font-weight: 700;
	font-family: 'Playfair Display', serif;
}


/*----------FOOOOT-------------*/

footer {
	background-color: #998431;
	padding: 50px 0;
	width: 100%;
	max-height: 100%;
	overflow: hidden;
}


.foot__menu {
	display: flex;
	border: 1px solid #fff;
	border-right: none;
	border-left: none;
	border-bottom: none;
	justify-content: space-between;
	padding: 0 70px;
}

.foot__list {
	padding: 18px 0;
}

.foot__link {
	font-size: 14px;
	font-weight: 400;
	color: #fff;
}




.under-foot {
	display: flex;
	justify-content: space-between;
	
	border: 1px solid #fff;
	border-right: none;
	border-left: none;
	text-align: center;
}

.under__list {
	border: 1px solid #fff;
	width: 100%;
	border-bottom: none;
	border-top: none;
	align-items: center;
	text-align: center;
}

.under__list--num {
	border-right: none;
}

.under__link {
	display: block;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	padding-top: 20px;
	padding-bottom: 10px;
	color: #fff;

}



.under-img--cent {
	margin: 0 35px;
}



.under__list--start{
	border-left: none;
	border-right: none;
	padding-left: 45px;
}


.under__list--end {
	border-right: none;
	border-left: none;
	padding-left: 43px;
}

.up__content {
	margin: 10px 10px;
}


/* ----------------- ADAPTIVE MENU -------------------*/

@media (max-width: 1120px) {
	.menu__list {
		text-align: center;
		border: 1px solid #FFFFFF;	
		padding: 18px;
		display: flex;
		max-width: 100%;
	}

	.menu__link {
		width: 100%;
	}
}
 @media (max-width: 500px) {
	.menu__list {
		padding: 15px 3%;
	}
 }

 
 @media (max-width: 390px) {
	.menu__link {
		font-size: 13px;
	}
 }

 /*----------- BTN HEADER ------------*/

 @media (max-width: 540px) {

	.firstscreen {
		align-items: center;
		text-align: center;
		display: flex;
	}

	.btns {
		flex-direction: column;		
		display: flex;	
		position: absolute;
	}
	
	.btn {
		margin-bottom: 100px;
		width: 100%;
		padding: 15px 50px;
		background-color: #99862A;
		color: #fff;
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: 0.8px;
	}
 }

 /* ------------------------------------ BOX ------------------------------------ */

 @media (max-width:1180px) {
	.main__box {
		margin: 0 20px;
		align-items: center;
		position: relative;
		border: 3px solid #C4C4C4;
		align-content: center;
		text-align: center;
		flex-direction: column;
		padding: 60px 10vw;
	
	}

	.box__text {
		padding-top: 40px;
		padding-bottom: 50px;
		width: auto;
		color:#fff;
		font-size: 16px;
		font-weight: 400;
		line-height: 150%;

	}

	
 }







@media (max-width: 605px) {

	.main__box {
		margin: 0 20px;
		align-items: center;
		position: relative;
		border: 3px solid #C4C4C4;
		align-content: center;
		text-align: center;
		flex-direction: column;
		padding: 60px 10px;
	
	}

}

@media (max-width: 580px) {
	.main__title {
		font-size: 2.5vh;
	}
}

@media (max-width: 425px) {
	.main__title {
		font-size: 2vh;
	}
}

@media (max-width: 405px){
	.box-line {
		font-size: 10px;
	}
}


/* ----------------------------------------- SECTION -----------------------------------------------*/

.collection {
	padding: 0 15px;

}


@media (max-width: 1070px) {

	.collection__line{
		display: flex;
		max-width: 100%;
	}



	.gallery{
		display: flex;
		flex-direction: column;
		object-fit: cover;
		width: 40%;
		
	}  

	.gallery img {
		display: block;
		object-fit: fill;
	}
	
	
	.images__smal {
		display: flex;
		flex-direction: column;
		object-fit: cover;
		object-position: center;
		
	}

	.images__smal img {
		padding-bottom: 30px;
	}
}

@media (max-width: 815px) {

	.collection__line{
		display: flex;
		max-width: 100%;
	}


	.gallery{
		padding-top: 80px;
		display: flex;
		flex-direction: column;
		object-fit: cover;
		width: 30%;
		
	}  

	.gallery img {
		display: block;
		object-fit: fill;
	}
	
	
	.images__smal {
		display: flex;
		flex-direction: column;
		object-fit: cover;
		object-position: center;
		
	}

	.images__smal img {
		padding-bottom: 30px;
	}
}


@media (max-width: 700px) {

	.collection__line{
		display: flex;
		max-width: 100%;
	}



	.gallery{
		padding-top: 200px;
		display: flex;
		flex-direction: column;
		object-fit: cover;
		width: 25%;
		
	}  

	.gallery img {
		display: block;
		object-fit: fill;
	}
	
	
	.images__smal {
		display: flex;
		flex-direction: column;
		object-fit: cover;
		object-position: center;
		
	}

	.images__smal img {
		padding-bottom: 30px;
	}
}

.hidden-images {
	display: none;
}

@media (max-width: 670px) {

	.collection__box {
		
		text-align: center;
	}

	.sup-title {
		max-width: none;
	}

	.col__title {
		max-width: none;
	}

	.collect__text {
		max-width: none;
	}
	
	.gallery {
		display: none;
	}

	.hidden-images {
		padding-top: 30px;
		text-align: center;
		align-items: center;
		margin: 0 auto;
		display: block;
		flex-direction: column;
		max-width: 100%;
	}
	
	.hid-img {
		margin-left: 25px;
	}

	
}

@media (max-width: 585px) {
	.collection {
		width: auto;
		
	}


	.hidden-images {
		max-width: 100%;
	}


	.hid-smal {
		display: none;
		flex-direction: row;
		max-width: 100%;
	}

	
	.first {
		max-width: 100%;
	}
	.second {
		max-width: 100%;
	}
	.hid-img {
		max-width: 100%;
	}

	.col__title {
		font-size: 30px;
	}
}

/* ------------------------------------ FORM ---------------------------------------*/ 

@media (max-width: 1200px) {

	.form__box {
		padding: 0 100px;
		text-align: center;
		align-items: center;
		margin: 0 20px;
	}

	.form__title {
		display: block;
		position: static;
		padding-top: 80px;
		margin: 0 auto;
	}

	.img-first {
		display: none;
	}

	.img-second {
		display: none;
	}

	.form__text {
		max-width: 100%;
	}
}

@media (max-width: 785px){

	.form__box {
		padding: 0 20px;
	}

	.form__title{
		padding: 60px 0px;
	}

}

@media (max-width: 540px) {

	.form__box {
		margin: 0 5px;
	}



	.form__title {
		font-size: 25px;
		margin: 0 auto;
	}
}
 


.footer {
	overflow: hidden;
}
















/*---------------------------- FOOOOOOOOOOOOOOOOOOOOOOOOOOOOOTERRRRRRRRRRRRRRR----------*/



@media (max-width: 1040px) {

.foot__menu {
	padding: 0px 5px;
}

}

@media (max-width: 1000px) {
	.under-foot {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}

	.under__list {
		align-items: center;
		text-align: center;
		width: 50%;
		border: 1px solid #fff;
	}

	.under__link {
		text-align: center;
		align-items: center;
		margin: 0 auto;
		padding: 10px 0;
	}


	.under-img--cent {
		padding: 0 10px;
	}
	.under__list--end {
		padding: 0 10px;
	}

	.under__list--icons {
		padding: 0 10px;
	}

	.under__list--start {
		padding: 0 10px;
	}

}


@media (max-width: 710px) {


	.foot__menu {
		width: 100%;
	}

	.foot__list {
		display: flex;
		flex-wrap: wrap;
	}

	.foot__link {
		display: flex;
		flex-wrap: wrap;
	}

}

@media (max-width: 685px) {
	.foot__menu {
		flex-wrap: wrap;
	}

	.foot__link {
		padding: 0 10px;
	}
}


@media (max-width: 420px) {


	.under__link {
		font-size: 10px;
	}

	.under-img--cent {
		margin: 0 10px;
	}

}


@media (max-width: 380px) {
	.foot__link {
		padding: 0 5px;
	}
}


